* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik";
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  width: 89%;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 230px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #b61d1d;
  transition: 0.3s;
  transform: scale(1);
}
.button img {
  margin-left: 11px;
}

.button:hover {
  transform: scale(0.98);
  box-shadow: 2px 2px 2px rgb(83, 83, 83);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 18px;
}

.line {
  display: block;
  width: 40px;
  height: 4px;
  background: #b61d1d;
}

.header {
  padding: 21px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.logo img {
  width: 74px;
  height: 74px;
}

.logo__title {
  margin-left: 15px;
}
.logo__title h1 {
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #b61d1d;
  text-transform: uppercase;
}
.logo__title h2 {
  font-size: 19px;
  line-height: 23px;
  text-transform: lowercase;
  color: #888888;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact {
  display: flex;
  align-items: center;
  margin: 0 -14.4px;
}

.contact__item {
  margin: 0 14.4px;
}
.contact__item img {
  margin-right: 8.5px;
  width: 26px;
  height: 26px;
}
.contact__item a {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  color: #151515;
  transition: 0.2s;
}
.contact__item a:first-child {
  font-weight: 500;
}
.contact__item a:hover {
  color: #b61d1d;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.menu__item {
  margin: 4px 15px;
  text-transform: uppercase;
}
.menu__item a {
  font-size: 17px;
  line-height: 20px;
  color: #151515;
  transition: 0.1s;
}
.menu__item a:hover {
  color: #b61d1d;
}

@media (max-width: 1366px) {
  .header {
    padding: 16.8px 0;
  }
  .logo {
    margin-right: 80px;
  }
  .logo img {
    width: 59.2px;
    height: 59.2px;
  }
  .logo__title {
    margin-left: 12px;
  }
  .logo__title h1 {
    font-size: 26.4px;
    line-height: 32px;
  }
  .logo__title h2 {
    font-size: 15.2px;
    line-height: 18.4px;
  }
  .contact {
    margin: 0 -11.52px 10.4px;
  }
  .contact__item {
    margin: 0 11.52px;
  }
  .contact__item img {
    margin-right: 6.8px;
    width: 20.8px;
    height: 20.8px;
  }
  .contact__item a {
    font-size: 16px;
    line-height: 19.2px;
  }
  .menu__list {
    margin: 0 -12px;
  }
  .menu__item {
    margin: 3.2px 12px;
  }
  .menu__item a {
    font-size: 1.1vw;
    line-height: 1.1vw;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 12.6px 0;
  }
  .logo {
    margin-right: 60px;
  }
  .logo img {
    width: 44.4px;
    height: 44.4px;
  }
  .logo__title {
    margin-left: 9px;
  }
  .logo__title h1 {
    font-size: 19.8px;
    line-height: 24px;
  }
  .logo__title h2 {
    font-size: 11.4px;
    line-height: 13.8px;
  }
  .contact {
    margin: 0 -8.64px 7.8px;
  }
  .contact__item {
    margin: 0 8.64px;
  }
  .contact__item img {
    margin-right: 5.1px;
    width: 15.6px;
    height: 15.6px;
  }
  .contact__item a {
    font-size: 12px;
    line-height: 14.4px;
  }
  .menu__list {
    margin: 0 -9px;
  }
  .menu__item {
    margin: 2.4px 9px;
  }
}
.first__screen {
  position: relative;
  background: linear-gradient(93.59deg, rgba(50, 42, 35, 0.63) -1.96%, rgba(50, 42, 35, 0.5914489) 30.42%, rgba(50, 42, 35, 0.4913482) 41.94%, rgba(50, 42, 35, 0) 75.85%), url(./../../img/header/bg.jpg) center no-repeat;
  background-size: auto 100%;
  width: 100%;
  min-height: 650px;
  color: #ffffff;
  margin-bottom: 100px;
}

.first__screen-info {
  padding: 182px 0 160px 0;
  width: 588px;
}
.first__screen-info h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.first__screen-info p {
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 38px;
}

.social {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.social li {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

.usp {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
.usp .title {
  margin-bottom: 60px;
}

.usp::before {
  content: "";
  position: absolute;
  top: -47px;
  right: 30px;
  width: 903px;
  height: 762.23px;
  background-image: url(./../../img/usp/bg.png);
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}

.usp__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -28px -0.5%;
}

.usp__item {
  margin: 28px 0.5%;
  width: 24%;
}
.usp__item p {
  font-size: 17px;
  line-height: 20px;
  color: #444444;
}

.usp__title {
  display: flex;
  margin-bottom: 15px;
}
.usp__title img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.usp__title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #151515;
}

.container .title {
  margin-bottom: 50px;
}

.offer__wrapper {
  display: flex;
  width: 410px;
  margin: 0 1%;
  width: 100%;
}

.offer__item {
  width: 31%;
  height: 535px;
  margin: 0 1%;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px;
}
.offer__item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #151515;
  margin-bottom: 8px;
}
.offer__item .line {
  margin-bottom: 13px;
}
.offer__item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.offer__item:hover {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
}
.offer__item:hover .offer__item-image {
  background-color: white;
}

.offer__item-image {
  width: 100%;
  height: 300px;
  background-color: #efefef;
  margin-bottom: 43px;
  transition: 0.3s;
}
.offer__item-image img {
  width: 100%;
  min-height: 100%;
  padding: 10px;
}