* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: #151515;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
    font-family: "Rubik";
    color: #151515;
    // font-display: block;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
.container {
    width: 89%;
    margin: 0 auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    transition: 0.3s;
    background: #b61d1d;
    color: #ffffff;
    svg {
        margin-left: 11px;
        fill: white;
        transition: 0.3s;
    }
}
.button:hover {
    background: white;
    color: #b61d1d;
    svg {
        fill: #b61d1d;
    }
}
.button-border:hover {
    border: 1px solid #b61d1d;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-weight: 600;
        font-size: 45px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
}
.line {
    display: block;
    width: 40px;
    height: 4px;
    background: #b61d1d;
}
.slider-prev,
.slider-next {
    position: absolute;
    top: 225px;
    width: 33px;
    height: 33px;
    z-index: 50;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    cursor: pointer;
}
.slider-next {
    right: 0;
    background-image: url(./../../svg/slider/arrow-right.svg);
}
.slider-prev {
    left: 0;
    background-image: url(./../../svg/slider/arrow-left.svg);
}
.slider-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .swiper-pagination-bullet {
        background-color: #bbbbbb;
        opacity: 1;
        margin: 0 6.5px !important;
    }
    .swiper-pagination-bullet-active {
        position: relative;
        background-color: #b61d1d;
    }
    .swiper-pagination-bullet-active::before {
        content: "";
        position: absolute;
        border: 1px solid #bbbbbb;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}
@media (max-width: 768px) {
    .button {
        font-size: 3.1vw;
        line-height: 3.7vw;
        width: 45vw;
        height: 10vw;
        svg {
            margin-left: 1.5vw;
        }
    }
}
