* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
textarea {
    resize: none;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: #151515;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
    font-family: "Rubik";
    color: #151515;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}
.header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 40px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    transition: 0.3s;
    background: #b61d1d;
    color: #ffffff;
    svg {
        margin-left: 11px;
        fill: white;
        transition: 0.3s;
    }
}
.button:hover {
    background: white;
    color: #b61d1d;
    svg {
        fill: #b61d1d;
    }
}
.button-border:hover {
    border: 1px solid #b61d1d;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-weight: 600;
        font-size: 45px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
}
.line {
    display: block;
    width: 40px;
    height: 4px;
    background: #b61d1d;
}
.slider-prev,
.slider-next {
    position: absolute;
    top: 225px;
    width: 33px;
    height: 33px;
    z-index: 50;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    cursor: pointer;
    z-index: 5;
}
.slider-next {
    right: 0;
    background-image: url(./../svg/slider/arrow-right.svg);
}
.slider-prev {
    left: 0;
    background-image: url(./../svg/slider/arrow-left.svg);
}
.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 25px;
    .swiper-pagination-bullet {
        background-color: #bbbbbb;
        opacity: 1;
        margin: 0 6.5px !important;
    }
    .swiper-pagination-bullet-active {
        position: relative;
        background-color: #b61d1d;
    }
    .swiper-pagination-bullet-active::before {
        content: "";
        position: absolute;
        border: 1px solid #bbbbbb;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}
.mobile {
    display: none;
}
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #978a8c;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #b61d1d;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 5vw;
    }
    .button {
        font-size: 4vw;
        width: 60vw;
        height: 14vw;
        vertical-align: middle;
        svg {
            margin-left: 1.5vw;
            width: 6vw;
            height: 6vw;
        }
    }
    .slider-prev,
    .slider-next {
        display: none;
    }
    .title {
        h2 {
            font-size: 9vw;
            line-height: 9.5vw;
            margin-bottom: 4vw;
        }
    }
    .line {
        width: 8vw;
        height: 0.8vw;
    }
    .slider-pagination {
        height: 5.5vw;
        margin-top: 5vw;
        .swiper-pagination-bullet {
            width: 1.5vw;
            height: 1.5vw;
            margin: 0 3vw !important;
        }
        .swiper-pagination-bullet-active::before {
            width: 5vw;
            height: 5vw;
        }
    }
    .mobile {
        display: flex;
    }
}
