.first__screen {
    position: relative;
    background: linear-gradient(
            93.59deg,
            rgba(50, 42, 35, (0.9 * 0.7)) -1.96%,
            rgba(50, 42, 35, (0.844927 * 0.7)) 30.42%,
            rgba(50, 42, 35, (0.701926 * 0.7)) 41.94%,
            rgba(50, 42, 35, 0) 75.85%
        ),
        url(./../img/header/bg.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: calc(100vh - 116px);
    color: #ffffff;
    margin: 116px 0 100px;
    .button {
        background: white;
        color: #b61d1d;
        svg {
            fill: #b61d1d;
        }
    }
    .button:hover {
        background: #b61d1d;
        color: white;
        svg {
            fill: white;
        }
    }
}
.first__screen-info {
    padding: 28vh 0 25vh 0;
    width: 588px;
    h1 {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    p {
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 38px;
    }
}
.social {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    li {
        width: 40px;
        height: 40px;
        margin: 5px 0;
    }
}
@media (max-width: 768px) {
    .first__screen {
        position: relative;
        background: linear-gradient(
            #36363699,
            #36363699,
            ),
            url(./../img/header/bg-mobile.jpg) top no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        margin: 0 0 13vw 0;
    }
    .first__screen-info {
        padding: 52vh 0 15vh;
        width: 100%;
        h1 {
            font-size: 8.5vw;
            line-height: 10.4vw;
            margin-bottom: 4.6vw;
        }
        p {
            font-size: 4vw;
            line-height: 4.8vw;
            margin-bottom: 7vw;
        }
    }
    .social {
        display: none;
    }
}
