.footer {
    .container {
        display: flex;
    }
}
.footer__contact-wrap {
    border-bottom: 1px solid #92929264;
    margin-bottom: 20px;
}
.footer__contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 34%;
    padding: 110px 75px 67px;
    address span,
    p {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #888888;
        margin-bottom: 11px;
    }
    a,
    address {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        font-style: normal;
    }
    address {
        display: flex;
        flex-direction: column;
        padding-bottom: 76px;
        p {
            margin-bottom: 40px;
            color: #151515;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            text-transform: none;
        }
        a {
            color: #b61d1d;
        }
    }
}
.footer__contact::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
}
.footer__contact-item {
    margin-bottom: 47px;
}
.footer__author {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #444444 !important;
}
.footer__feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 66%;
    padding: 87px 97px 97px;
    color: white;
    .title {
        align-items: flex-start;
        color: #ffffff;
        margin-bottom: 33px;
    }
    .line {
        background: #ffffff;
    }
    p {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 16px;
    }
    input,
    textarea {
        padding: 12px 22px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        background-color: rgba(255, 255, 255, 0.4);
        color: #ffffff;
        border-radius: 4px;
    }
    input::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
    }
    textarea {
        width: 535px;
        height: 150px;
        margin-bottom: 40px;
    }
}
.footer__feedback::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 66vw;
    height: 100%;
    background: linear-gradient(rgba(54, 54, 54, 0.6), rgba(54, 54, 54, 0.6)),
        url(./../img/footer/bg.jpg) right no-repeat;
    background-size: cover;
    z-index: -1;
}
.footer__feedback-input-wrap {
    display: flex;
    margin: 0 -10px 30px;
}
.footer__feedback-name,
.footer__feedback-email {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.footer__feedback-name {
    width: 220px;
}
.footer__feedback-email {
    width: 295px;
}
@media (max-width: 1270px) {
    .footer__feedback {
        background-position: right;
        background-size: cover;
    }
}
@media (max-width: 1024px) {
    .footer__contact::before,
    .footer__feedback::after {
        display: none;
    }
    .footer {
        .container {
            flex-direction: column-reverse; 
            padding: 0;
        }
    }
    .footer__feedback {
        width: 100%;
        background: linear-gradient(
                rgba(54, 54, 54, 0.6),
                rgba(54, 54, 54, 0.6)
            ),
            url(./../img/footer/bg-mobile.jpg) center no-repeat;
        background-size: cover;
        padding: 10vw 45px;
        background-size: cover;
        .title {
            margin-bottom: (4.297vw * 0.6);
        }
        p {
            font-size: (4.5vw * 0.6);
            line-height: (5vw * 0.6);
            margin-top: (2vw * 0.6);
        }
        input,
        textarea {
            padding: (2.5vw * 0.6) (3vw * 0.6) (2.8vw * 0.6);
            font-size: (4vw * 0.6);
            line-height: (5vw * 0.6);
            width: 100%;
        }
        input::placeholder {
            font-size: (3vw * 0.6);
            line-height: (4vw * 0.6);
        }
        textarea {
            width: 100%;
            height: (20vw * 0.6);
            margin-bottom: (5.208vw * 0.6);
        }
    }
    .footer__feedback-input-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 0 (3vw * 0.6) 0;
    }
    .footer__feedback-name,
    .footer__feedback-email {
        width: 100%;
        margin: (2vw * 0.6) 0;
    }
    .footer__contact {
        background-color: #ececec;
        padding: 10vw 45px;
        width: 100%;
        address span,
        p {
            font-size: (3vw * 0.6);
            line-height: (4vw * 0.6);
            margin-bottom: (4vw * 0.6);
        }
        a,
        address {
            font-size: (4vw * 0.6);
            line-height: (5vw * 0.6);
        }
        address {
            padding-bottom: (10vw * 0.6);
            p {
                margin-bottom: (5vw * 0.6);
            }
        }
    }
    .footer__author {
        font-size: (4vw * 0.6) !important;
        line-height: (5vw * 0.6) !important;
    }
}
@media (max-width: 768px) {
    .footer__feedback {
        padding: 10vw 5vw;
        .title {
            margin-bottom: 4.297vw;
        }
        p {
            font-size: 4.5vw;
            line-height: 5vw;
            margin-top: 2vw;
        }
        input,
        textarea {
            padding: 3vw 3.5vw 3.3vw;
            font-size: 4vw;
            line-height: 5vw;
            width: 100%;
        }
        input::placeholder {
            font-size: 4vw;
            line-height: 5vw;
        }
        textarea {
            width: 100%;
            height: 40vw;
            margin-bottom: 5.208vw;
        }
    }
    .footer__feedback-input-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 0 3vw 0;
    }
    .footer__feedback-name,
    .footer__feedback-email {
        width: 100%;
        margin: 2vw 0;
    }
    .footer__contact {
        padding: 10vw 5vw;
        width: 100%;
        address span,
        p {
            font-size: 4vw;
            line-height: 4vw;
            margin-bottom: 4vw;
        }
        a,
        address {
            margin-bottom: 5vw;
            font-size: 4.5vw;
            line-height: 5vw;
        }
        address {
            padding-bottom: 10vw;
            p {
                margin-bottom: 5vw;
                font-size: 4.5vw;
                line-height: 5vw;
            }
        }
    }
    .footer__author {
        font-size: 4vw !important;
        line-height: 5vw !important;
    }
}
