.news {
    margin-bottom: 90px;
}
.news__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .title {
        display: flex;
        align-items: flex-start;
    }
}
.news__wrapper {
    position: relative;
    padding: 20px;
    margin: 0;
}
.news__item {
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    padding: 20px;
    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
    }
    .line {
        margin-bottom: 13px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
    }
    .news__time {
        margin-bottom: 17px;
        color: #949494;
    }
}
.news__item-image {
    width: 100%;
    background-color: #efefef;
    margin-bottom: 29px;
    transition: 0.3s;
    img {
        width: 100%;
        min-height: 100%;
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .news {
        margin: 0 2.6vw 13vw;
        padding: 0;
        form {
            display: none;
        }
        .slider-pagination {
            margin-top: 3vw;
        }
    }
    .news__header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .title {
            margin-bottom: 3vw;
        }
    }
    .news__wrapper {
        padding: 0;
    }
    .news__item {
        h3 {
            font-size: 5vw;
            line-height: 5.5vw;
        }
        p {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
}
