.offer {
    margin-bottom: 100px;
    .title {
        margin-bottom: 10px;
    }
    .slider-prev,
    .slider-next {
        top: 40%;
    }
}
.offer__wrapper {
    position: relative;
    padding: 40px;
    margin: 0 20px;
}
.offer__item {
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    padding: 20px;
    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
    }
    .line {
        margin-bottom: 13px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
    }
}
.offer__item:hover {
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
    .offer__item-image {
        background-color: white;
    }
}
.offer__item-image {
    width: 100%;
    background-color: #efefef;
    margin-bottom: 43px;
    transition: 0.3s;
    img {
        width: 100%;
        min-height: 100%;
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .offer{
        margin-bottom: 13vw;
    }
    .offer__wrapper {
        padding: 0;
    }
    .offer__item {
        h3 {
            font-size: 5vw;
            line-height: 6vw;
        }
        p {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
}
