.purchases {
    margin-bottom: 110px;
    .title {
        margin-bottom: 40px;
    }
}
.purchases__wrapper {
    position: relative;
    padding: 10px 40px;
    .slider-next,
    .slider-prev {
        top: 75px;
    }
}
.purchases__item {
    border: 2px solid #d8d8d8;
    padding: 33px;
    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 19px;
    }
}
.purchases__time {
    font-size: 13px;
    line-height: 24px;
    color: #888888;
    margin-bottom: 8px;
}
.purchases__link {
    display: flex;
    margin: 0 -20px;
    a {
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        padding: 0 20px;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10.5px;
        }
    }
    a:last-child {
        border-left: 1px solid #9f9f9f;
    }
}
@media (max-width: 768px) {
    .purchases {
        margin-bottom: 14.323vw;
        .title {
            margin-bottom: 5.208vw;
        }
        .slider-pagination{
            margin-top: 7vw;
        }
    }
    .purchases__wrapper {
        padding: 1.302vw 5.208vw;
        .slider-next,
        .slider-prev {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .purchases__item {
        padding: 4.297vw;
        h3 {
            font-size: 5vw;
            line-height: 6vw;
            margin-bottom: 3vw;
        }
    }
    .purchases__time {
        font-size: 4vw;
        line-height: 5vw;
        margin-bottom: 2vw;
    }
    .purchases__link {
        margin: 0 -2.604vw;
        a {
            padding: 0 2.604vw;
            font-size: 4vw;
            line-height: 5vw;
            width: 50%;
            img {
                width: 3.906vw;
                height: 3.906vw;
                margin-right: 1.367vw;
            }
        }
    }
}
