.review__form {
    margin-bottom: 120px;
}
.review__form-container {
    display: flex;
    p {
        font-size: 16px;
        line-height: 24px;
        margin-left: 60px;
    }
}
.review__form-wrapper {
    legend {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 25px;
    }
}
.review__form-wrap {
    textarea,
    input {
        border: 1px solid #b6b6b6;
        padding: 14px 20px 15px;
        font-size: 17px;
        line-height: 20px;
        color: #969696;
        border-radius: 4px;
    }
    textarea {
        width: 100%;
        height: 170px;
        margin-bottom: 20px;
        border-radius: 4px;
    }
}
.review__form-input {
    display: flex;
    margin: 0 -10px 20px;
    input {
        margin: 0 10px;
        width: 325px;
    }
}
@media (max-width: 1024px) {
    .review__form-input input {
        width: 30vw;
    }
    .review__form-container {
        p {
            margin-left: 2vw;
        }
    }
}
@media (max-width: 768px) {
    .review__form {
        margin-bottom: 15vw;
    }
    .review__form-container {
        flex-direction: column;
        p {
            font-size: 4vw;
            line-height: 5vw;
            margin-left: 0;
            margin-top: 3vw;
        }
    }
    .review__form-wrapper {
        legend {
            font-size: 8vw;
            line-height: 8.5vw;
            margin-bottom: 4vw;
        }
    }
    .review__form-wrap {
        textarea,
        input {
            padding: 2.5vw 3vw 2.8vw;
            font-size: 5vw;
            line-height: 6vw;
        }
        textarea {
            height: 30vw;
            margin-bottom: 5vw;
        }
    }
    .review__form-input {
        flex-direction: column;
        margin: 0 0 2.6vw 0;
        input {
            margin: 2.6vw 0 0 0;
            width: 100%;
        }
    }
}
