.review {
    margin-bottom: 50px;
    .title {
        margin-bottom: 55px;
    }
}
.review__wrapper {
    margin-bottom: 25px;
}
.review__item {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    summary {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin: 27.5px 5px;
        cursor: pointer;
        span {
            margin-left: 40px;
        }
    }
    summary {
        list-style: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }
}
.review__item summary::before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    background: url(./../svg/review/arrow.svg) no-repeat;
    height: 10px;
    width: 10px;
    transform: rotate(-90deg) translateX(50%);
    background-size: 10px 10px;
}

.review__item[open] summary::before {
    transform: rotate(0deg) translateY(-50%);
}
.review__wrap {
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 40px 37.5px;
    margin-bottom: 40px;
}
.review__text,
.review__answer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        padding-top: 28px;
    }
}
.review__text {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 38px;
}
.review__answer {
    span {
        padding-bottom: 18px;
    }
}
.review__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
    color: #b61d1d !important;
    img {
        margin-left: 9px;
    }
}
@media (max-width: 768px) {
    .review {
        .title {
            margin-bottom: 7.161vw;
        }
    }
    .review__wrap {
        border-radius: 1vw;
        padding: 7vw 5vw;
        margin-bottom: 3vw;
    }
    .review__item {
        summary {
            font-size: 5vw;
            line-height: 6vw;
            margin: 3.5vw 0.8vw;
            span {
                margin-left: 7vw;
            }
        }
    }
    .review__text {
        padding-bottom: 3vw;
    }
    .review__text,
    .review__answer {
        font-size: 4.5vw;
        line-height: 5vw;
        span {
            font-size: 4vw;
            line-height: 4vw;
            padding-top: 4vw;
        }
    }
    .review__answer span {
        padding-bottom: 3vw;
    }
    .review__item summary::before {
        height: 3vw;
        width: 3vw;
        transform: rotate(-90deg) translateX(50%);
        background-size: 3vw 3vw;
    }
    .review__link {
        font-size: 4vw;
        line-height: 4vw;
    }
}
