.stage {
    margin-bottom: 100px;
    .title {
        margin-bottom: 25px;
    }
}
.stage__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    width: 570px;
    margin: 0 auto 70px;
}
.stage__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5%;
}
.stage__wrapper::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 2px dashed #d6d4d4;
}
.stage__item {
    position: relative;
    flex: 1 1 22%;
    cursor: pointer;
    margin: 0 1.5%;
}
.stage__item:hover {
    .stage__info h3,
    .stage__image span {
        color: #b61d1d;
    }
    .stage__point {
        border: 13px solid #b61d1d;
    }
}
.stage__image {
    position: relative;
    width: 74px;
    margin-bottom: 92px;
    img {
        width: 74px;
        height: 74px;
    }
    span {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        transform: translate(100%, -100%);
        transition: 0.2s;
    }
}
.stage__point {
    display: block;
    border: 13px solid #e7a9a9;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 120px;
    transform: translateY(-50%);
    left: 0;
    background-color: white;
    transition: 0.2s;
}
.stage__info {
    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        transition: 0.2s;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
    }
}
@media (max-width: 768px) {
    .stage {
        margin-bottom: 13vw;
        .title {
            margin-bottom: 3.2vw;
        }
    }
    .stage__subtitle {
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        color: #666666;
        width: 80%;
        margin: 0 auto 15vw;
    }
    .stage__wrapper {
        flex-direction: column;
    }
    .stage__item {
        display: flex;
        flex: 1 1 100%;
        cursor: default;
        margin: 0 0 15vw;
    }
    .stage__item:last-child {
        margin: 0 0 10vw;
    }
    .stage__wrapper::before {
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        border-left: 2px dashed #d6d4d4;
    }
    .stage__point {
        border: 1vw solid #e7a9a9;
        width: 3vw;
        height: 3vw;
        top: 21vw;
        transform: translateY(-50%);
        left: -1.4vw;
        background-color: white;
        transition: 0.2s;
    }
    .stage__item:hover {
        .stage__point {
            border: 1vw solid #b61d1d;
        }
    }
    .stage__image {
        width: 23vw;
        margin-bottom: 0;
        margin-right: 10vw;
        margin-left: 5vw;
        img {
            width: 23vw;
            height: 23vw;
        }
        span {
            font-size: 5vw;
            line-height: 5vw;
        }
    }
    .stage__info {
        h3 {
            font-size: 5vw;
            line-height: 5, 5vw;
            margin-bottom: 2vw;
        }
        p {
            font-size: 4vw;
            line-height: 4.5vw;
        }
    }
}
